.image-upload{
padding-top: 150px;  

/* align-content: center; */
}

.image img{
    display: flex; 
justify-content: center;
    width: 45vw;
    height: 50vh;
}

.inputfile {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    /* position: absolute; "Causa el error del doble scroll"*/ 
    z-index: -1;  
}

.inputfile + label {
    max-width: 80%;
    font-size: 1.25rem;
    font-weight: 700;
    text-overflow: ellipsis;
    white-space: nowrap;
    cursor: pointer;
    display: inline-block;
    overflow: hidden;
    padding: 0.625rem 1.25rem;
}

.inputfile + label svg {
    width: 1em;
    height: 1em;
    vertical-align: middle;
    fill: currentColor;
    margin-top: -0.25em;
    margin-right: 0.25em;
}

.iborrainputfile {
	font-size:15px; 
	font-weight:normal;
    font-family: 'Poppins', sans-serif;
}

.iborrainputfile:hover {
    font-size:17px; 
}