<div class="footer">
    <div class="contFooter">
        <div class='itemBF'>
            <span style="font-size: 2vw;">Contáctanos</span>
            <img src="assets/img/logoBITflexbl.png" alt="BITFlix" width="120vw">
            <span>Calle 106a # 17a - 46 Edificio BIT</span>
            <span>Tel: +57 375 23 44</span>
            <span>Correo: servicioalcliente@bitflix.com</span>

            <div class="redes">
                <img src="assets/img/facebook.png" alt="FB" width="10vw">
                <img src="assets/img/in.png" alt="IN" width="20vw">
                <img src="assets/img/twitter.png" alt="T" width="20vw">
                <img src="assets/img/instagram.png" alt="Insta" width="20vw">
            </div>

        </div>

        <div class='itemfrase'>
            <span class="frase">Descubre BITFlix Premium, tu lugar de entretenimiento</span>
        </div>

        <div class='itemMLAB'>
            <a>Desarrollado por</a>
            <div> <img src="assets/img/MLAB_wh.png" alt="" height="85vw"> </div>
        </div>
    </div>
</div>