*{
    margin:0;
    padding:0px;
    box-sizing: border-box;
}
section{
    display: flex;
    font-family: 'Poppins', sans-serif;
    padding: 0 50px;
    flex-flow: row wrap;
    margin: 10%;
    
    }
h2{
    text-align: center;
}
h3{
    text-align: center;
}

.articulos{
    flex: 2 1 auto;
    display: flex;
    flex-flow: row wrap;
}
.articule{
    flex: 1 1 40%;
}
.articule img{
    margin-left: 45%;
    width: 50px;
    height: 30px;
    align-items: center;
    
}
.articule2 img{
    width: 80%;
}

