<section class="premium">
    <div class="articulos">
        <article class="articule">
            <img src="../../../assets/img/estrella.jpg" alt="estrella">
            <h2>Pasate a Premium</h2>
            <p> Lorem ipsum dolor sit amet consectetur, adipisicing elit.
                Nostrum eum esse minus! Maiores magni autem eum debitis cum fuga est ad obcaecati
                qui dolores, aspernatur adipisci, delectus voluptate reprehenderit aliquid?</p>
            <h3>Paga $35.000 4 pantallas</h3>
        </article>
        <article class="articule2">
            <img src="../../../assets/img/4p.png" alt="">
        </article>
    </div>
</section>