<header>
    <ul class="menu">
        <li>
            <a href="#!" id="logo"><img src="../../../assets/img/logoBITflex.png" alt="Logo"></a>
        </li>
        <li><a routerLink=''>Home</a></li>
        <li><a routerLink='/quienes-somos'>Quiénes Somos?</a></li>
        <li><a routerLink='/contenido'>Contenido</a></li>
        <li id="infousuario">
            <a href="http://localhost:3002/users/signin" *ngIf="!logueado">Iniciar Sesión</a>
            <i *ngIf="premium" class="fa fa-star amarillo"></i>
            <p class="texto-blanco" *ngIf="logueado">Nombre usuario </p>
        </li>
        <li><a routerLink='/pasar-premium' class="boton" *ngIf="!premium" (click)="premiumClick()">Pásate a Premium</a>
            <a href="http://localhost:3002/users/signin"><i *ngIf="logueado" class="fa fa-sign-out-alt fa-2x"></i> </a>
        </li>
    </ul>
</header>