<header>
    <ul class="menu">
        <li>
            <a href="#!" id="logo"><img src="../../../assets/img/logoBITflex.png" alt="Logo"></a>
        </li>
        <li><a routerLink=''>Home</a></li>
        <li><a routerLink='/quienes-somos'>Quíenes Somos?</a></li>
        <li><a routerLink='/contenido'>Contenido</a></li>
        <li>
            <a href="http://localhost:3002/users/signin" *ngIf="!logueado">Iniciar Sesión</a>
            <div *ngIf="logueado">Nombre usuario <i class="fa fa-sign-out-alt"></i></div>
        </li>
        <li><a routerLink='/pasar-premium' class="boton" *ngIf="!premium">Pásate a Premium</a>
            <div *ngIf="premium"><i class="fa fa-star"></i></div>
        </li>
    </ul>
</header>
<!-- esto fue el codigo que hicimos con deisy y esta unido al jv, pero el de iniciar sesión ya medio sirve -->
<button type="button" onclick="document.getElementById('p1').innerHTML = 'Jorge'"></button>