body {
    background: #2b2e4a;
    font-family: 'Poppins', sans-serif;
}

* {
    font-family: 'Poppins', sans-serif;
    margin: 0px;
    padding: 0px;
}

.menu {
    display: flex;
    justify-content: space-around;
    align-items: center;
    max-width: 100%;
    margin: 0px 0px 15px 0px;
    height: 80px;
    list-style: none;
    background: #53354A;
    -webkit-box-shadow: 0px 3px 10px 0px rgba(235, 235, 235, 0.76);
    -moz-box-shadow: 0px 3px 10px 0px rgba(235, 235, 235, 0.76);
    box-shadow: 0px 3px 10px 0px rgba(235, 235, 235, 0.76);
    position: fixed;
    z-index: 9999;
}

.menu a {
    font-size: 16px;
    color: white;
    text-decoration: none;
}

.menu a:hover {
    font-size: 20px
}

header img {
    height: 50px;
}

i {
    padding-left: 1rem;
    padding-right: 1rem;
}

.texto-blanco {
    color: #fff;
}

.amarillo {
    color: #907f37;
}

#infousuario {
    display: flex;
    align-items: center;
}