body {
    background: #2b2e4a;
    font-family: 'Poppins', sans-serif;
}

* {
    font-family: 'Poppins', sans-serif;
    margin: 0px;
    padding: 0px;
}

.menu {
    display: flex;
    justify-content: space-around;
    align-items: center;
    max-width: 100%;
    margin: 0 auto;
    height: 15vh;
    list-style: none;
    background: #53354A;
    position: sticky;
}

.menu a {
    font-size: 16px;
    color: white;
    text-decoration: none;
}

.menu a:hover {
    font-size: 20px
}

.boton {
    background: rgba(128, 128, 128, 0.308);
    border-radius: 8px;
    padding: 10px;
}

header img {
    height: 50px;
}