<header>
    <ul class="menu">
        <li><a href="#!" id="logo"><img src="../../../assets/img/logoBITflex.png" alt="Logo"></a></li>
        <li><a href="#!">Home</a></li>
        <li><a href="#!">Quíenes Somos?</a></li>
        <li><a href="#!">Contenido</a></li>
        <li><a href="#!" class="boton" id="p1" type="button"
                onclick="document.getElementById('p1').innerHTML = 'Usuario'">Iniciar Sesión</a></li>
        <li><a href="#!" class="boton">Pasate a Premium</a></li>
    </ul>
</header>
<!-- esto fue el codigo que hicimos con deisy y esta unido al jv, pero el de iniciar sesión ya medio sirve -->
<button type="button" onclick="document.getElementById('p1').innerHTML = 'Usuario'"></button>