    <!-- <form action="#url....que se encarga de recoger los datos" method="POST">

    </form> -->

    <div class="admmovie col-md-12" id="admmovie">
        <form class="admmovie">
            <label for="title">Titulo:</label>
            <input type="text" size="" name="title" id="title">
            <br><br>
        
            <label for="description">Description:</label>
            <textarea name="" id="" cols="50" rows="5" id="description"></textarea>
            <!-- <input type="text" size="250" name="description" id="description"> -->
            <br><br>
                
            <label for="genero">Genero:</label>
            <select name="genero" id="genero">
                <option value="selectiong">--Seleccione--</option>
                <option value="anime">Anime:</option>
                <option value="comedia">Comedia:</option>
                <option value="drama">Drama:</option>
                <option value="romance">Romance:</option>
            </select>
            <br><br>
        
            <label for="anio">Año:</label>    
            <input type="month" name="anio" id="anio">
            <br><br>
        
            <label for="tipo">Tipo:</label>
            <select name="tipo" id="tipo">
                <option value="selectiont">--Seleccione--</option>
                <option value="movie">Pelicula:</option>
                <option value="series">Serie:</option>   
            </select>   
            <br><br>
        
            <label for="user">Usuario:</label>
            <select name="user" id="user">
                <option value="selectionu">--Seleccione--</option>
                <option value="premium">Premium</option>
                <option value="life">Life</option>   
            </select>
            <br><br>
        
            <label for="season">Temporada:</label>
            <input type="text" size="4">
            <label for="chapter">Capitulo:</label>
            <input type="text" size="4">
            <br><br>
                 
                
            <input type="submit" value="Editar Contenido" id="edit">
        
            <input type="submit" value="Eliminar Pelicula" id="eliminate">
        
            <input type="submit" value="Desabilitar Pelicula" id="season">
        </form>
    </div> 