    <!-- <form action="#url....que se encarga de recoger los datos" method="POST">

    </form> -->
    <div class="movie col-md-12" id="admmovie">
        <form class="admmovie">
            <div>
            <label for="title">Titulo:</label>
            <input type="text" name="title" id="title">
            </div>
            
            <div>
            <label for="description">Descripcion:</label><br>
            <textarea name="" id="" id="description"></textarea>
            <!-- <input type="text" size="250" name="description" id="description"> -->
          </div>
            
          
          <div>
            <label for="genero">Genero:</label>
            <select name="genero" id="genero">
                <option value="selectiong">Seleccione</option>
                <option value="anime">Anime</option>
                <option value="comedia">Comedia</option>
                <option value="drama">Drama</option>
                <option value="romance">Romance</option>
            </select></div>
           
        <div>
            <label for="anio">Año:</label>    
            <input type="years" name="anio" size="4" id="anio">
        </div>
        
        <div>
            <label for="tipo">Tipo:</label>
            <select name="tipo" id="tipo">
                <option value="selectiont">Seleccione:</option>
                <option value="movie">Pelicula</option>
                <option value="series">Serie</option>   
            </select>   
        </div>

        <div>
            <label for="user">Usuario:</label>
            <select name="user" id="user">
                <option value="selectionu">Seleccione</option>
                <option value="premium">Premium</option>
                <option value="life">Life</option>   
            </select>
         </div> 
        
         <div>
            <label for="season">Temporada:</label>
            <input type="text" size="4">
        
            <label for="chapter">Capitulo:</label>
            <input type="text" size="4">
        </div>   
                 
        <div class="botones">     
            <input type="submit" value="Editar" id="edit">
        
            <input type="submit" value="Eliminar" id="eliminate">
        
            <input type="submit" value="Deshabilitar" id="season">
        </div>   
        </form>
    </div> 
