<div class="sig">
        <div class="row">
            <div class="col-md-4 mx-auto border border-white rounded">
                <h1 style="color:white" class="d-flex justify-content-center mt-2">Inicio de sesión</h1>
                <div class="card-body">
                    <form action="" method="POST">
                        <div class="form-group">
                            <br>
                            <input type="email" class="form-control" name="email" placeholder="Email" autofocus>
                        </div>
                        <br>
                        <div class="form-group">
                            <input type="password" name="password" class="form-control" placeholder="Contraseña">
                        </div>
                        <br>
                        <div class="d-flex justify-content-around">
                            <a href="http://localhost:3002/users/signup"> Registrarse</a>
                            <a href="http://localhost:4200"> Iniciar Sesión</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
     </div>