<div class="had-container">
    <div class="row">
        <div class="col s12 movie-view">
            <div class="shadow"></div>
        </div>
        <div class="main-watchlist col s12 ps ps--theme_default ps--active-y" data-ps-id="13074795-4523-832c-ab70-893125cc346b">
            <div class="nav-container">
                <div class="nav">
                    <ul>
                        <li id="menu-todos"><a (click)="mostrar(1)">Todos</a></li>
                        <li id="menu-romance"><a (click)="mostrar(2)">Romance</a></li>
                        <li id="menu-drama"><a (click)="mostrar(3)">Drama</a></li>
                        <li id="menu-comedia"><a (click)="mostrar(4)">Comedia</a></li>
                        <li id="menu-anime"><a (click)="mostrar(5)">Anime</a></li>
                    </ul>
                </div>
            </div>
            <div id="main" class="watchlist-list">
                <div class="col s12 load" style="display: none;">
                    <div class="col s4 offset-s4 spinner">
                    </div>
                </div>
                <div id="watchlist" class="col s12 watchlist">
                    <div class="lista">

                        <div *ngFor='let peli of peliculas'>
                            <div class="col s10 push-s1 m6 l3 movie">
                                <div class="datas">
                                    <img class="center responsive-img" src="{{peli.ruta_imagen}}" alt="" height="300vw" width="200vw">
                                    <div class="blockpremium" *ngIf="peli.estado==='habilitado'" >PREMIUM</div>
                                    <div class="data-info">
                                        <div class="category">PELÍCULA</div>
                                        <div class="movie-title">{{peli.titulo}}</div>
                                        <div class="like">
                                            <i class="material-icons">thumb_up</i> 75 Likes
                                        </div>
                                    </div>
                                    <div class="play circle scale-transition" (click)="playMovie(peli)">
                                        <i  class="material-icons">play_arrow</i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- <div class="iklan">
    <a routerLink='/signup'>Suscríbete a premium!!<strong></strong></a>
</div> -->