<div style="text-align:center !important">
    <div class="nav-container">
        <div class="nav">
            <span style="font-size: 2vw;">¡Ya no te perderás los últimos estrenos de cine, en BITFlix tendrás el mejor contenido en cualquier momento!</span> <br>
            <!-- <ul>
                <li id="menu-todos"><a (click)="mostrar(1)">Todos</a></li>
                <li id="menu-romance"><a (click)="mostrar(2)">Romance</a></li>
                <li id="menu-drama"><a (click)="mostrar(3)">Drama</a></li>
                <li id="menu-comedia"><a (click)="mostrar(4)">Comedia</a></li>
                <li id="menu-anime"><a (click)="mostrar(5)">Anime</a></li>
            </ul> -->
        </div>
        <div class="contenido">
            <div *ngIf="mostrarTodos" class="container" id="carousel">
                <figure>
                    <img src="../../../assets/img/peli1.jpg" width="330" height="350">
                </figure>
                <figure>
                    <img src="../../../assets/img/peli1.jpg" width="330" height="350">
                </figure>
                <figure>
                    <img src="../../../assets/img/pelicula1.jpeg" width="330" height="350">
                </figure>
                <figure>
                    <img src="../../../assets/img/peli1.jpg" width="330" height="350">
                </figure>
                <figure>
                    <img src="../../../assets/img/peli2.jpg" width="330" height="350">
                </figure>
                <figure>
                    <img src="../../../assets/img/pelicula1.jpeg" width="330" height="350">
                </figure>
            </div>
            <div *ngIf="mostrarRomance" class="container" id="carousel">
                <figure>
                    <img src="../../../assets/img/peli2.jpg" width="330" height="350">
                </figure>
                <figure>
                    <img src="../../../assets/img/peli2.jpg" width="330" height="350">
                </figure>
                <figure>
                    <img src="../../../assets/img/peli2.jpg" width="330" height="350">
                </figure>
                <figure>
                    <img src="../../../assets/img/peli2.jpg" width="330" height="350">
                </figure>
                <figure>
                    <img src="../../../assets/img/peli2.jpg" width="330" height="350">
                </figure>
                <figure>
                    <img src="../../../assets/img/peli2.jpg" width="330" height="350">
                </figure>
            </div>
            <div *ngIf="mostrarDrama" class="container" id="carousel">
                <figure>
                    <img src="../../../assets/img/peli1.jpg" width="330" height="350">
                </figure>
                <figure>
                    <img src="../../../assets/img/peli1.jpg" width="330" height="350">
                </figure>
                <figure>
                    <img src="../../../assets/img/pelicula1.jpeg" width="330" height="350">
                </figure>
                <figure>
                    <img src="../../../assets/img/peli1.jpg" width="330" height="350">
                </figure>
                <figure>
                    <img src="../../../assets/img/peli2.jpg" width="330" height="350">
                </figure>
                <figure>
                    <img src="../../../assets/img/pelicula1.jpeg" width="330" height="350">
                </figure>
            </div>
            <div *ngIf="mostrarComedia" class="container" id="carousel">
                <figure>
                    <img src="../../../assets/img/peli2.jpg" width="330" height="350">
                </figure>
                <figure>
                    <img src="../../../assets/img/peli2.jpg" width="330" height="350">
                </figure>
                <figure>
                    <img src="../../../assets/img/peli2.jpg" width="330" height="350">
                </figure>
                <figure>
                    <img src="../../../assets/img/peli2.jpg" width="330" height="350">
                </figure>
                <figure>
                    <img src="../../../assets/img/peli2.jpg" width="330" height="350">
                </figure>
                <figure>
                    <img src="../../../assets/img/peli2.jpg" width="330" height="350">
                </figure>
            </div>
            <div *ngIf="mostrarAnime" class="container" id="carousel">
                <figure>
                    <img src="../../../assets/img/peli2.jpg" width="330" height="350">
                </figure>
                <figure>
                    <img src="../../../assets/img/peli2.jpg" width="330" height="350">
                </figure>
                <figure>
                    <img src="../../../assets/img/peli2.jpg" width="330" height="350">
                </figure>
                <figure>
                    <img src="../../../assets/img/peli2.jpg" width="330" height="350">
                </figure>
                <figure>
                    <img src="../../../assets/img/peli2.jpg" width="330" height="350">
                </figure>
                <figure>
                    <img src="../../../assets/img/peli2.jpg" width="330" height="350">
                </figure>
            </div>
        </div>



    </div>
</div>