*{
    font-family: 'Poppins', sans-serif;
    color: #fff;
    font-size: 15px;  
}

p{
    text-align: center;
    font-size: 20px; 
    padding-top:100px;    
}

select {
    background :#fff;
    border: none;
    height: 30px;   
    width: 350px;
    color: #fff;
    font-size: 25px;
}
 select:focus{ outline-color:  #903749}

.box {
    margin:10px auto 10px auto;	
    border:1px solid #53354A;
    height:30px;
    overflow: hidden;
    width: 350px;
    position:relative;
    text-align: right;
    font-family: 'Poppins', sans-serif;
 }

 .box::after{
	content:"\025be";
	display:table-cell;
	text-align:center;
	width:30px;
	height:30px;
	background-color:#53354A;
	position:absolute;
	top:0;
	right:0px;	
	pointer-events: none;
}

.container{
    display: grid;
    grid-template-columns: 45vw auto; /*Make the grid smaller than the container*/
   
}


