<div class="premium">
    <div class="articulos">
        <article class="articule1">
            <img src="../../../assets/img/estrella.png" alt="estrella">
            <h2>Pásate a Premium</h2>
            <p> Aprovecha todos los beneficios de ser Premium: contenido ilimitado, acceso a los últimos estrenos, posibilidade de usar 4 pantallas en simulataneo consumiendo el mejor contenido. Sin Publicidad! Sin contadores de tiempo!</p>
            <h3>Paga $35.000 4 pantallas</h3>
        </article>
        <article class="articule2">
            <img src="../../../assets/img/4p.png" alt="">
        </article>
    </div>
</div>