<app-header #header (onClickOption)="setOption($event)"></app-header>
<div *ngIf="option === 0">
    <app-home></app-home>
</div>
<div *ngIf="option === 1">
    <app-login (login)="onLogin($event)"></app-login>
</div>
<div *ngIf="option === 2">
    <app-quienes-somos></app-quienes-somos>
</div>
<div *ngIf="option === 3">
    <app-contenido></app-contenido>
</div>
<div *ngIf="option === 4">
    <app-signup (login)="onSignUp($event)"></app-signup>
</div>
<div *ngIf="option === 5">
    <div>
        <p>SE REGISTRO CORRECTAMENTE</p>
    </div>
</div>
<div *ngIf="option === 6">
    <app-pago-premium-registrado (login)="onPremium($event)"></app-pago-premium-registrado>
</div>
<div *ngIf="option === 7">
    <div>
        <p>SE CAMBIO CORRECTAMENTE</p>
    </div>
</div>
<app-footer #footer></app-footer>