<div class="multimedia">


    <div class="title">
        <h1>American Pie</h1>
    </div>

    <div class="favorite">
        <img src="assets\img\thumb_up.png" alt="Me gusta" width="50px">
        <img src="assets\img\thumb_down.png" alt="No me gusta" width="50px">
    </div>

    <div class="play">
        <iframe width="100%" height="540px" src="https://www.youtube.com/embed/qoCwCdAzySo" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

    </div>
    <div class="descr">
        <p> <strong style="padding: 0px;"> Amerian Pie</strong> <br> Creyendo que es esencial antes de ir a la universidad, cuatro adolescentes se comprometen a perder su virginidad y entran en un pacto, cada uno tratando de ser el primero, se encuentran
            con niveles de éxito y fracaso variable. <br> <br>
            <strong style="padding: 0px;">Genero:</strong> Comedia <br>
            <strong style="padding: 0px;">Año:</strong> 1999 <br>
            <strong style="padding: 0px;">Actores:</strong><br> Jason Biggs como Jim Levenstein. <br> Thomas Ian Nicholas como Kevin Myers. <br> Chris Klein como Chris "Oz" Ostreicher. <br> Eddie Kaye Thomas como Paul Finch. <br> Seann William Scott como
            Steve Stifler. <br>

        </p>

    </div>
    <div class="imagen-peli">
        <img src="https://cr00.epimg.net/radio/imagenes/2018/08/06/tendencias/1533564753_494934_1533564950_noticia_normal.jpg" alt="" width="240px">
    </div>
</div>