* {
    margin: 0px;
    padding: 10px;
    color: white;
    font-family: 'Poppins', sans-serif;
}

.multimedia {
    display: grid;
    grid-template-areas: "title title title favorite" "play play play play" "descr descr descr imagen";
    grid-template-rows: 70px 850px auto;
    margin-top: 100px;
}

.play {
    grid-area: play;
    /* text-align: center; */
}

.title {
    grid-area: title;
    align-self: end;
    text-align: left;
    height: 100%;
}

.favorite {
    grid-area: favorite;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

.descr {
    grid-area: descr;
    align-self: start;
    text-align: justify;
}

.imagen-peli {
    grid-area: imagen;
    align-self: stretch;
    text-align: center;
}


/* ------ */

ul {
    display: flex;
    list-style-type: none;
    flex-direction: column;
    padding: 5px;
    align-items: center;
}

ul li {
    color: black;
    border-radius: 1em;
    margin: 5px;
    width: 380px;
    height: 26px;
    background: #06b8b9;
}

ul li:hover {
    cursor: pointer;
    opacity: 0.5;
}

input[type=range] {
    -webkit-appearance: none;
    /* Hides the slider so that custom slider can be made */
    width: 50%;
    /* Specific width is required for Firefox. */
    background: transparent;
    /* Otherwise white in Chrome */
}

input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    border: 1px solid #000000;
    height: 18px;
    width: 8px;
    border-radius: 3px;
    background: #ffffff;
    cursor: pointer;
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
}

input[type=range]::-webkit-slider-runnable-track {
    background: #367ebd;
}

.appear {
    animation-name: appear;
    animation-duration: 1s;
    animation-fill-mode: both;
}

.disappear {
    animation-name: disappear;
    animation-duration: 1.5s;
    animation-fill-mode: both;
}

@keyframes disappear {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

@keyframes appear {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

#reproductor {
    position: relative;
}

#myVideo {
    position: absolute;
    width: 200vh;
}


/* #quizDiv {
    display: block;
    position: absolute;
    text-align: center;
    width: 380px;
    height: 240px;
    top: 50px;
    left: 120px;
    color: white;
} */

.container {
    opacity: 1;
    position: absolute;
    padding-bottom: 4px;
    top: 750px;
    left: 12px;
    flex-direction: row;
    color: white;
}

.container>input {
    position: absolute;
    margin-left: 8px;
}

.container>button:first-of-type {
    margin-left: 8px;
}

.progress {
    position: absolute;
    top: -10px;
    background: lightgrey;
    height: 3px;
    width: 200vh;
}

.completed {
    position: absolute;
    background: red;
    height: 3px;
    width: 0;
}

button {
    border-radius: 100%;
}

button:hover {
    cursor: pointer;
}

#check {
    background-color: orange;
    border-radius: 30px;
    border: 2px solid black;
    width: 120px;
    height: 35px;
}

.progress:hover {
    cursor: pointer;
}


/*button:last-of-type{
  position:absolute;
  left: 36px;
}*/

#volume {
    color: #bea3ce;
    margin-left: 4px;
}

.playlist {
    display: flex;
    flex-direction: column;
    margin-left: 620px;
}

.playlist>div img:hover {
    opacity: 0.8;
    cursor: pointer;
}