<div class="tex-center" id="pasate">
    <div class="contenedor-pago">
        <h2 id="titulo1">Pásate a premium </h2>
        <h4 id="titulo2">Paga $35.000 por uso de 4 pantallas</h4>

        <p>Elige el medio de pago</p>
        <div class="pagos">
            <img id="tarjcredito" src="../../../assets/img/tarjetas_cred.png" alt="">
            <img id="pse" src="../../../assets/img/pse.png" alt="">
            <img id="efecty" src="../../../assets/img/efecty.png" alt="">
            <img id="baloto" src="../../../assets/img/baloto.png" alt="">
        </div>
        <div class="contenedor-botones-pago">
            <button type="submit" class="boton-segundo" id="despues" (click)="btnClick()">Lo haré después</button>
            <button type="submit" class="boton-primero" id="pay" (click)="btn2Click()">Disfrutar de premium</button>
        </div>
    </div>
</div>