<div id="pasate">
    <h1 id="titulo1">Pásate a premium </h1>
    <h1 id="titulo2">Paga $35.000 por uso de 4 pantallas</h1>
    <div class="pagos col-md-12" id="pagos">
        <div class="col-md-12">
            <input type="radio" name="metPago" value="tarjCred"><img id="tarjcredito" class="metPagoLargo"
                src="../../../assets/img/tarjetas_cred.png" alt="" style="height: 50px; width: 120px;">
            <input type="radio" name="metPago" value="pse"><img class="metPago" src="../../../assets/img/pse.png" alt=""
                style="height: 50px; width: 50px;">
        </div>
        <div class="col-md-12">
            <input id="efectyR" type="radio" name="metPago" value="efecty"><img id="efecty" class="metPagoLargo"
                src="../../../assets/img/efecty.png" alt="" style="height: 40px; width: 80px;">
            <input id="balotoR" type="radio" name="metPago" value="baloto"><img id="baloto" class="metPagoLargo"
                src="../../../assets/img/baloto.png" alt="" style="height: 50px; width: 100px;">
        </div>
        <div id="pay">Pagar</div>
    </div>
</div>