.tex-center {
   width: 40%;
   margin: auto;
   padding-top: 5%;
   padding-bottom: 2%;
}

.contenedor-pago {
   padding: 3rem;
   background: #fff;
   box-shadow: 0 1px 6px 0 rgba(32, 33, 36, 0.28);
}

.contenedor-pago img:hover {
   cursor: pointer;
   box-shadow: 0 1px 6px 0 rgba(32,33,36,0.28);
}

.contenedor-botones-pago {
   padding-top: 3rem;
   display: flex;
   justify-content: space-around;
}

.metPagoLargo{
   margin-left: 5px;
}