<!-- JavaScript cabecero 1 -->

<!--<script src="http://code.jquery.com/jquery-1.6.3.min.js"></script>
    <script src="/src/assets/js/jquery.shuffleLetters.js"></script>
    <script src="/src/assets/js/script.js"></script>-->

<section class="imagen2">
    <div id="contenedor1">Nosotros creemos que la inspiración es la base de la creación!! </div>
</section>

<!-- titulo2  -->

<!-- <div class="container">
                <div class="text">
                    <div class="title2">¿QUIENES SOMOS?<div>
                        
                        <img class=borrador src="/assets/IMG/coders.jpg"></div>
        
                    </div> 
             </div> -->

<!-- Titulo2  -->
<section class="containerqs">

    <table class="egt">
        <tr>
            <th colspan="5">
                <h1 class="tuclase">¿QUIENES SOMOS?</h1>
            </th>
        </tr>
        <tr>
            <th>
                <!-- Descripcion Quienes somos  -->
                <div class="card">
                    <h1 class="entry-title">
                        <a class="descripcion">M-LAB es un equipo interdisciplinario conformado por mujeres con alta
                            experiencia en
                            concepto de
                            <br>construcción de paginas web con modelos de programación y motores de bases de datos.</a>
                    </h1>
                </div>
            </th>
            <th>
                <!-- Galeria respaldo de texto  -->

                <section class="cr-container">

                    <input id="select-img-1" name="radio-set-1" type="radio" class="cr-selector-img-1" checked />
                    <label for="select-img-1" class="cr-label-img-1">1</label>

                    <input id="select-img-2" name="radio-set-1" type="radio" class="cr-selector-img-2" />
                    <label for="select-img-2" class="cr-label-img-2">2</label>

                    <input id="select-img-3" name="radio-set-1" type="radio" class="cr-selector-img-3" />
                    <label for="select-img-3" class="cr-label-img-3">3</label>

                    <input id="select-img-4" name="radio-set-1" type="radio" class="cr-selector-img-4" />
                    <label for="select-img-4" class="cr-label-img-4">4</label>

                    <div class="clr"></div>
                    <div class="cr-bgimg">
                        <div>
                            <span>Slice 1 - Image 1</span>
                            <span>Slice 1 - Image 2</span>
                            <span>Slice 1 - Image 3</span>
                            <span>Slice 1 - Image 4</span>
                        </div>
                        <div>
                            <span>Slice 2 - Image 1</span>
                            <span>Slice 2 - Image 2</span>
                            <span>Slice 2 - Image 3</span>
                            <span>Slice 2 - Image 4</span>
                        </div>
                        <div>
                            <span>Slice 3 - Image 1</span>
                            <span>Slice 3 - Image 2</span>
                            <span>Slice 3 - Image 3</span>
                            <span>Slice 3 - Image 4</span>
                        </div>
                        <div>
                            <span>Slice 4 - Image 1</span>
                            <span>Slice 4 - Image 2</span>
                            <span>Slice 4 - Image 3</span>
                            <span>Slice 4 - Image 4</span>
                        </div>
                    </div>
                    <div class="cr-titles">
                        <h3><span class="subs">Asesorias</span><span class="servicios"> Soluciones orientadas a las necesidades, requerimientos,
                                presupuestos y
                                objetivos</span></h3>
                        <h3><span class="subs">Soporte</span><span class="servicios">Acompañamiento, asesoría permanente velando por los desarrollos
                                óptimos y
                                funcionales</span></h3>
                        <h3><span class="subs">Planificación</span><span class="servicios">Evaluamos referentes y objetivos de comunicación desde los
                                requerimientos del cliente </span></h3>
                        <h3><span class="subs">Desarrollo</span><span class="servicios">Ejecución de diseños fundamentados en los bocetos y propuestas
                                elaboradas
                            </span></h3>
                    </div>
                </section>
            </th>
        </tr>
    </table>

</section>

<!-- imagen encabezado 2 -->

<section class="imagen3">
    <div class="title">
        <h1>Geeks<br />por naturaleza</h1>
    </div>
</section>


<section class="Trabajanosotros">
    <div class="mensaje1">¿Te gusta lo que ves? --> Trabaja con Nosotros</div>
</section>


<!-- Estructura Diamante Nuestro Equipo -->

<section class="team">

    <h1>NUESTRO EQUIPO</h1>

    <div>
        <!-- liliana -->
        <div>
            <div class="diamondswrap" id="flickrItems">
                <div class="diamonds diamonds-e0ce8b91-0dad-489b-aa63-7f8ccbe458bb" style="min-width: 400px;">
                    <div class="diamond-row-wrap">
                        <div class="diamond-row-upper">
                            <div class="diamond-box-wrap">
                                <div class="diamond-box">
                                    <div class="diamond-box-inner">
                                        <a href="#" class="item" style="background-image: url('../../../assets/img/majoPitta.jpg');">
                                            <span>Product Owner</span> <br>
                                            <span>Maria José Pitta</span>
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <!-- diana -->
                            <div class="diamond-box-wrap">
                                <div class="diamond-box">
                                    <div class="diamond-box-inner">

                                        <a href="#" class="item" style="background-image: url('../../../assets/img/camMan.jpg');">
                                            <span>Scrum Master</span><br>
                                            <span>Camila Manrique</span>
                                        </a>

                                    </div>
                                </div>
                            </div>
                            <!-- sally -->
                            <div class="diamond-box-wrap">
                                <div class="diamond-box">
                                    <div class="diamond-box-inner">
                                        <a href="#" class="item" style="background-image: url('../../../assets/img/johBul.jpg');">
                                            <span>Lider Tecnico</span><br>
                                            <span>Johanna Bulla</span>
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <!-- majo -->
                            <div class="diamond-box-wrap">
                                <div class="diamond-box">
                                    <div class="diamond-box-inner">
                                        <a href="#" class="item" style="background-image: url('../../../assets/img/wenMot.jpg');">
                                            <span>Lider Backend</span><br>
                                            <span>Wendy Motivar</span>
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <!-- paola -->
                            <div class="diamond-box-wrap">
                                <div class="diamond-box">
                                    <div class="diamond-box-inner">
                                        <a href="#" class="item" style="background-image: url('../../../assets/img/LeyLemus.jpg');">
                                            <span>Lider Frontend</span><br>
                                            <span>Leidy Lemus</span>
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <!-- camila -->
                            <div class="diamond-box-wrap">
                                <div class="diamond-box">
                                    <div class="diamond-box-inner">
                                        <a href="#" class="item" style="background-image: url('../../../assets/img/monGo.jpg');">
                                            <span>Lider BD</span><br>
                                            <span>Monica Gomez</span>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- angela marentes -->
                        <div class="diamond-row-lower">
                            <div class="diamond-box-wrap">
                                <div class="diamond-box">
                                    <div class="diamond-box-inner">
                                        <a href="#" class="item" style="background-image: url('../../../assets/img/paoLeg.jpg');">
                                            <span>Lider Pruebas</span><br>
                                            <span>Paola Leguizamon</span>

                                        </a>
                                    </div>
                                </div>
                            </div>
                            <!-- wendy -->
                            <div class="diamond-box-wrap">
                                <div class="diamond-box">
                                    <div class="diamond-box-inner">
                                        <a href="#" class="item" style="background-image: url('../../../assets/img/angMar.jpg');">
                                            <span>Desarrollador</span><br>
                                            <span>Ángela Marentes</span>
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <!-- leidy lemus -->
                            <div class="diamond-box-wrap">
                                <div class="diamond-box">
                                    <div class="diamond-box-inner">
                                        <a href="#" class="item" style="background-image: url('../../../assets/img/diaVil.png');">
                                            <span>Desarrollador</span><br>
                                            <span>Diana Villalba</span>
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <!-- leidy fandiño -->
                            <div class="diamond-box-wrap">
                                <div class="diamond-box">
                                    <div class="diamond-box-inner">
                                        <a href="#" class="item" style="background-image:url('../../../assets/img/gioRo.jpg');">
                                            <span>Desarrollador</span><br>
                                            <span>Giovanna Rojas</span>
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <!-- jhona bulla -->
                            <div class="diamond-box-wrap">
                                <div class="diamond-box">
                                    <div class="diamond-box-inner">
                                        <a href="#" class="item" style="background-image: url('../../../assets/img/leiFan.JPG');">
                                            <span>Desarrollador</span><br>
                                            <span>Leidy Fandiño</span>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- giovana -->
                    <div class="diamond-row-wrap">
                        <div class="diamond-row-upper">
                            <div class="diamond-box-wrap">
                                <div class="diamond-box">
                                    <div class="diamond-box-inner">
                                        <a href="#" class="item" style="background-image: url(https://r1.ilikewallpaper.net/iphone-8-wallpapers/download/24563/Briar-Rose-Space-Purple-Art-iphone-8-wallpaper-ilikewallpaper_com.jpg);">
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <!-- giovana -->
                            <div class="diamond-box-wrap">
                                <div class="diamond-box">
                                    <div class="diamond-box-inner">
                                        <a href="#" class="item" style="background-image: url('../../../assets/img/deiRom.png');">
                                            <span>Desarrollador</span><br>
                                            <span>Deisy Romero</span>
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <!-- daisy ramos -->
                            <div class="diamond-box-wrap">
                                <div class="diamond-box">
                                    <div class="diamond-box-inner">
                                        <a href="#" class="item" style="background-image: url(https://i.pinimg.com/originals/49/49/26/494926ad8f26e450afd7793e424223ba.jpg);">
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <!-- daisy ramos -->
                            <div class="diamond-box-wrap">
                                <div class="diamond-box">
                                    <div class="diamond-box-inner">
                                        <a href="#" class="item" style="background-image: url('../../../assets/img/salAlf.jpg');">
                                            <span>Desarrollador</span> <br>
                                            <span>Sally Alfonso</span>
                                        </a>
                                    </div>
                                </div>
                            </div>

                            <div class="diamond-box-wrap">
                                <div class="diamond-box">
                                    <div class="diamond-box-inner">
                                        <a href="#" class="item" style="background-image: url(https://r1.ilikewallpaper.net/iphone-8-wallpapers/download/24563/Briar-Rose-Space-Purple-Art-iphone-8-wallpaper-ilikewallpaper_com.jpg);">
                                        </a>
                                    </div>
                                </div>
                            </div>

                            <div class="diamond-box-wrap">
                                <div class="diamond-box">
                                    <div class="diamond-box-inner">
                                        <a href="#" class="item" style="background-image: url(https://i.pinimg.com/originals/e9/db/37/e9db37ec562d59b10c8760a00607594e.jpg);">
                                            <span>Desarrollador</span><br>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!--  <section class="info">
                        <div class="contenedor">
                           <article class="info__columna">
                           <h1>1200</h1><hr>
                           <p>Orden</p>
                        
                           </article>
                           <article class="info__columna">
                                <h1>5000</h1><hr>
                                <p>Envios</p>
                             
                                </article>
                                <article class="info__columna">
                                        <h1>3000</h1><hr>
                                        <p>Clientes</p>
                                     
                                        </article>
                        
                        </div>  
                    </section> -->