*{
    font-family: 'Poppins', sans-serif;
}

.signup-container {
    padding: 10%;
}

.boton {
    background: #53354A;
    border-radius: 8px;
    padding: 10px;
    max-width: 25vw;
    text-align: center;
    color: white;
}

.metPagoLargo{
    margin-left: 5px;
}