<div class="row signup-container">
    <div class="col-md-4 mx-auto border border-white rounded">
        <h1 class="d-flex justify-content-center mt-2 text-white">Registro</h1>

        <div class="card-body">
            <form>
                <div class="form-group">
                    <input type="text" class="form-control" name="name" placeholder="Nombre" [(ngModel)]="user.name">
                </div>
                <div class="form-group">
                    <input type="email" class="form-control" name="email" placeholder="Email" [(ngModel)]="user.email">
                </div>
                <div class="form-group">
                    <input type="password" class="form-control" name="password" placeholder="Contraseña" [(ngModel)]="user.password">
                </div>
                <div class="form-group">
                    <input type="password" class="form-control" name="confirm_password" placeholder="Confirm Contraseña" [(ngModel)]="confirm_password">
                </div>
                <br>
                <div class="form-group text-white d-flex justify-content-center">
                    <input type="checkbox" id="role" name="role" [(ngModel)]="premium" (click)="showContent()">
                    <h6 style="margin-left: 10px;">  Quiero ser Premium</h6>
                </div>
                <!-- Informaciòn sobre metodos de pago -->
                <div class="pagos" style="display: block;" id="pagos" *ngIf="pagos">
                    <input type="radio" (click)="setMetPago(0)" value="tarjCred"><img class="metPagoLargo" src="../../../assets/img/tarjetas_cred.png" alt="" width="100vw">
                    <input type="radio" (click)="setMetPago(1)" value="pse"><img class="metPagoLargo" src="../../../assets/img/pse.png" alt="" width="100vw"> <br>
                    <input type="radio" (click)="setMetPago(2)" value="efecty"><img class="metPagoLargo" src="../../../assets/img/efecty.png" alt="" width="100vw">
                    <input type="radio" (click)="setMetPago(3)" value="baloto"><img class="metPagoLargo" src="../../../assets/img/baloto.png" alt="" width="100vw">
                </div>
                <!-- boton -->
                <div class="d-flex justify-content-around" style="margin-top: 5px;">
                    <input (click)="registro()" class="boton text-white" type="submit" value="Regístrarte">
                </div>
            </form>
        </div>
    </div>
</div>