.signup-container {
    padding: 10%;
}

.boton {
    background: #53354A;
    border-radius: 8px;
    padding: 10px;
    max-width: 25vw;
    text-align: center;
    color: white;
    box-sizing: border-box;
    border-width: 2px;
    border-style: outset;
    border-color: white;
    border-image: initial;
}