<div class="row signup-container">
    <div class="col-md-4 mx-auto border border-white rounded">
        <h1 class="d-flex justify-content-center mt-2 text-white">Registro</h1>

        <div class="card-body">
            <form action="http://localhost:3002/users/signup" method="POST">
                <div class="form-group">
                    <input type="text" class="form-control" name="name" placeholder="Nombre" value="{{name}}">
                </div>
                <div class="form-group">
                    <input type="email" class="form-control" name="email" placeholder="Email" value="{{email}}">
                </div>
                <div class="form-group">
                    <input type="password" class="form-control" name="password" placeholder="Contraseña" value="{{password}}">
                </div>
                <div class="form-group">
                    <input type="password" class="form-control" name="confirm_password" placeholder="Confirm Contraseña" value="{{confirm_password}}">
                </div>
                <br>
                <div class="form-group text-white d-flex justify-content-center">
                    <input type="checkbox" id="role" name="role" value="PREMIUM" onchange="showContent()"> &nbsp;
                    <h6> Quiero ser Premium</h6>
                </div>
                <!-- Informaciòn sobre metodos de pago -->
                <div class="pagos" style="display: block;" id="pagos">
                    <input type="radio" name="metPago" value="tarjCred"><img class="metPagoLargo" src="../../../assets/img/tarjetas_cred.png" alt="" width="100vw"> &nbsp;
                    <input type="radio" name="metPago" value="pse"><img class="metPagoLargo" src="../../../assets/img/pse.png" alt="" width="100vw"> <br>
                    <input type="radio" name="metPago" value="efecty"><img class="metPagoLargo" src="../../../assets/img/efecty.png" alt="" width="100vw">
                    <input type="radio" name="metPago" value="baloto"><img class="metPagoLargo" src="../../../assets/img/baloto.png" alt="" width="100vw">
                </div>
                <!-- boton -->
                <div class="d-flex justify-content-around">
                    <div href="http://localhost:3002/users/signup"><input class="boton text-white" type="submit" value="Regístrarte"></div>
                </div>
            </form>
        </div>
    </div>
</div>