* {
    box-sizing: border-box;
}

html,
body {
    background: #2B2E4A;
    margin: 0;
    padding: 0;
    height: 100%;
    max-width: 100%;
    font-family: 'Poppins', sans-serif;
    overflow-x: hidden;
}


/* 
.wrapper {
    display: grid;
    width: 100vw;
    height: 100vh;
    grid-template-columns: 1fr;
    grid-template-rows: 50px 80% auto 100px;
    grid-template-areas: "header" 
                        "carrusel" 
                        "publicidad" 
                        "contenido" 
                        "footer";
}

.header {
    grid-area: header;
}

.carrusel{
    grid-area: carrusel;
}

.publicidad{
    grid-area:publicidad;
}

.contenido{
    grid-area: contenido;
}

.slider {
    grid-area: slider;
    display: flex;
    align-items: center;
    align-content: space-between;
    padding-left: 5em;
    position: relative;
}

.sidebar {
    display: grid;
    grid-area: sidebar;
    grid-gap: 5vw;
    color: #eee;
    justify-content: center;
    text-align: center;
    background: #ddd;
}

.content {
    grid-area: content;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer {
    grid-area: footer;
} */