* {
    box-sizing: border-box;
}

html,
body {
    background: #2B2E4A;
    margin: 0;
    padding: 0;
    height: 100%;
    max-width: 100%;
    font-family: 'Poppins', sans-serif;
    overflow-x: hidden;
}

.boton {
    background: #9037499c;
    border-radius: 8px;
    padding: 10px !important;
}

.boton-primero {
    background: #903749;
    color: #fff;
    border-radius: 8px;
    padding: 10px;
    border: 0;
}

.boton-segundo {
    background: #eee;
    color: #903749;
    border: 1px solid #903749;
    border-radius: 8px;
    padding: 10px;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
