<div>
    <ngb-carousel>
        <ng-template ngbSlide active>
            <video class="d-block w-100" src="../../../assets/video/BirdsofPrey.mp4" height="400" data-ride="carousel" controls autoplay muted></video>
        </ng-template>
        <ng-template ngbSlide>
            <video class="d-block w-100" src="../../../assets/video/COLOROUTOFSPACE.mp4" height="400" data-ride="carousel" controls autoplay muted></video>
        </ng-template>
        <ng-template ngbSlide>
            <video class="d-block w-100" src="../../../assets/video/EvangelionUltimate.mp4" height="400" data-ride="carousel" controls autoplay muted></video>
        </ng-template>
        <ng-template ngbSlide>
            <video class="d-block w-100" src="../../../assets/video/Your Name (Japanese).mp4" height="400" data-ride="carousel" controls autoplay muted></video>
        </ng-template>
    </ngb-carousel>
</div>