<!-- Estructura Banner -->
<div class="slideshow">
    <ul class="slider">
        <li>
            <!-- <img src="IMG/Band1.jpg" alt=""> -->

            <video src="../../../assets/video/BirdsofPrey.mp4" width="1349" height="600" autoplay muted loop></video>

            <section class="caption">
                <h1>Las películas más aclamadas</h1>
                <p>Están disponibles aquí</p>
                <br>
                <a href="#"><b>Conectate</b></a>
            </section>
        </li>
        <li>

            <!--  <img src="IMG/Band2.jpg" alt="">-->
            <video src="../../../assets/video/Your Name (Japanese).mp4" width="1349" height="600" autoplay muted loop></video>

            <section class="caption">
                <h1>De todos los géneros, para todos los gustos</h1>
                <br>
                <a href="../1-TALLER DISEÑO POSTER../../../assets/video/index.html"><b>Descubre</b></a>
            </section>
        </li>
        <li>
            <!--  <img src="IMG/Band3.jpg" alt="">-->

            <video src="../../../assets/video/COLOROUTOFSPACE.mp4" width="1349" height="600" autoplay muted loop></video>
            <section class="caption">
                <h1>Los estrenos más esperados</h1>
                <br>
                <a href="#"><b>Comparte</b></a>
            </section>
        </li>
        <li>
            <!--  <img src="IMG/Band4.jpg" alt="">-->

            <video src="../../../assets/video/EvangelionUltimate.mp4" width="1349" height="600" autoplay muted loop></video>
            <section class="caption">
                <h1>Sin publicidad, sin interrupciones</h1>
                <p>Con BITFlix Premium</p>
                <br>
                <a href="#"><b>Interactua</b></a>
            </section>
        </li>
    </ul>

    <ol class="pagination">
    </ol>

    <div class="left">
        <span class="fa fa-chevron-left"></span>
    </div>

    <div class="right">
        <span class="fa fa-chevron-right"></span>
    </div>

</div>